.app {
  height: calc(100vh - 100px);
  padding: 50px;
  background-color: #E5E5E6;
  display: grid;
  grid-template-columns: 326px 1fr;
  grid-template-rows: 62px calc(100vh - 100px - 62px);
  grid-template-areas:
    'sidebar-header chat-header'
    'sidebar-list chat';
}


.app__chat-header {
  padding: 0 20px 0 0;
  background-color: #fff;
  grid-area: chat-header;
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: flex-end;
  color: #757575;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #b6b6b6;

  border: 1px solid #b6b6b6;
  border-left: none;
}

.app__chat-header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.app__chat {
  background-color: #FFF;
  grid-area: chat;
}
