.chat {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  background-color: #fff;
  overflow: hidden;
  border-right: 1px solid #b6b6b6;
  border-bottom: 1px solid #b6b6b6;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  padding: 0 39px;
  overflow-y: auto;
  flex: 1 1 auto;
}

.message {
  display: flex;
  margin-top: 20px;
  max-width: 67%;
  overflow-wrap: anywhere;
}

.message_role_user {
  align-self: flex-end;
  justify-content: flex-end;
  border-radius: 35px 35px 0px 35px;
  background: #c9f0bf;
  color: #575757;
}

.message_role_assistant {
  align-self: flex-start;
  justify-content: flex-start;
  border-radius: 35px 35px 35px 0px;
  background: #e9e9e9;
  color: #5e5e5e;
}

.message_role_user + .message_role_assistant,
.message_role_user + .message_role_error-assistant,
.message_role_error-user + .message_role_assistant,
.message_role_error-user + .message_role_error-assistant,
.message_role_assistant + .message_role_user,
.message_role_assistant + .message_role_error-user,
.message_role_error-assistant + .message_role_user,
.message_role_error-assistant + .message_role_error-user {
  margin-top: 30px;
}

.message_role_error-user,
.message_role_error-assistant {
  margin-top: 10px;
}

.message_role_error-assistant {
  align-self: flex-start;
}

.message_role_error-user {
  align-self: flex-end;
}

.message__text {
  font-family: 'Arial';
  font-size: 24px;
  line-height: 28px;
  padding: 15px 35px;
  white-space: pre-wrap;
}

.message__text_role_error-user,
.message__text_role_error-assistant {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: #ff5b5b;
  padding: 0;
}

.message__text_role_error-user::before,
.message__text_role_error-assistant::before {
  content: url('../images/svg/chat-error.svg');
  display: inline-block;
  justify-self: center;
  width: 20px;
  height: 20px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.chat-input {
  display: flex;

  column-gap: 115px;
  background: #fff;
  padding: 20px 40px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  border-top: 1px solid #b6b6b6;
}

.chat-input__textarea {
  width: 100%;
  border: none;
  resize: none;
  font-family: 'Arial';
  font-size: 20px;
  line-height: 23px;
}

.chat-input__textarea:focus-visible {
  outline: 0;
}

.chat-input__btn-send {
  height: 40px;
  aspect-ratio: 1;
  border: none;
  background: url('../images/svg/chat-plane.svg');
  cursor: pointer;
}
